<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up Page</title>
</head>
<body>
    <!-- name: DataTypes.STRING,
    username: DataTypes.STRING,
    email: DataTypes.STRING,
    password: DataTypes.STRING -->
    <form method="POST">
        <p>First Name</p>
        <input type="text" name="first_name"><br>
        <p>Last Name</p>
        <input type="text" name="last_name"><br>
        <p>Username</p>
        <input type="text" name="username"><br>
        <p>Password</p>
        <input type="password" name="password"><br>
        <p>already have an account? <a href="/log-in">click here</a>click </p>
        <input type="submit" value="Sign Up"><br>
    </form>
    
</body>
</html>